In [1]:
# Map functions
# Applies a given function to all items in an iterable (e.g., list) and returns a map object 
# (which can be converted to a list, tuple, etc.).

numbers = [1, 2, 3, 4, 5]
doubled = list(map(lambda x: x * 2, numbers))
print(doubled)

[2, 4, 6, 8, 10]

In [2]:
# Write a program to convert a list of strings into uppercase using map().

lst= ["shanu", "ravi", "rakesh", "GautAmi"]

upper_conv= list(map(lambda x: x.upper(), lst))

print(upper_conv)

['SHANU', 'RAVI', 'RAKESH', 'GAUTAMI']

In [3]:
# Convert only the first letter of each string to uppercase.
#Filter out strings shorter than 5 characters before converting to uppercase.

lst= ["shanu", "ravi", "rakesh", "GautAmi"]

upper_conv= list(map(lambda x: x.title(), lst))

print(upper_conv)

['Shanu', 'Ravi', 'Rakesh', 'Gautami']

In [5]:
## Filter Function
# filters elements based on condition on an iterable

numbers=[1,2,3,4,5,6]
even_numbers=list(filter(lambda x:x%2==0, numbers))
print(even_numbers)

[2, 4, 6]

In [6]:
## filter all strings from a list that have lengthe greater than 3

lst= ["shanu", "ram", "ravi", "rakesh", "GautAmi"]

length_great= list(filter(lambda x: len(x)>3, lst))
print(length_great)

['shanu', 'ravi', 'rakesh', 'GautAmi']

In [8]:
#Filter out strings shorter than 5 characters before converting to uppercase.

lst = ["shanu", "ram", "ravi", "rakesh", "GautAmi"]
length_greater = list(map(lambda x:x.upper() ,filter(lambda x:len(x)>=5,lst)))
print(length_greater)

['SHANU', 'RAKESH', 'GAUTAMI']

In [9]:
## reduce function
## reduce function is part of functools module, it's used to apply a rolling computation to sequential pairs of elements in an iterable
## this means that it reduces the iterable to single value by repeatedly applying a funstion
#it take two arguments abinary funstion and iterable

## Sum of all the elemnets

from functools import reduce

numbers = [1,2,3,4,5]
result = reduce(lambda x,y:x+y, numbers)
print(result)

15

In [10]:
## fidning the maximum value in list

from functools import reduce

numbers=[20,30,35,40,46,99,1]

max_num= reduce(lambda x,y: x if x>y else y, numbers)

print(max_num)

99

In [11]:
## Zip function
#combine two or more iterable in a single iterable tuples

name=["shanu", "gautami"]
scores=[60,70]
combine=list(zip(name,scores))
print(combine)

[('shanu', 60), ('gautami', 70)]

In [14]:
#Create a dictionary by combining two lists: keys as names and values as scores.
name=["shanu", "gautami"]
scores=[60,70]
combine=dict(zip(name,scores))
print(combine)

{'shanu': 60, 'gautami': 70}

In [17]:
# enumerate() Function

items = ["apple", "orange", "banana"]

for i,v in enumerate(items):
    print(i,v)

0 apple
1 orange
2 banana

In [18]:
# any() and all() Functions

# any() returns true if any one is true
# all() returns true if all are true


nums = [0, 1, 2]
print(any(nums))  # Output: True (because 1 and 2 are true)
print(all(nums))  # Output: False (because 0 is false)

True
False