In [2]:
## Pattern using nested loop:

for i in range(1,6):
    for j in range(i):
        print(i, end='')
    print()

1
22
333
4444
55555

In [11]:
#Question 2: Write a Python program to calculate the sum of all odd numbers between 1 and 50 using a while loop.
i=1
sum=0
while i<=50:
    if(i%2 !=0):
        sum=sum+i
    i+=1
print(sum)

625

In [4]:
for i in range(1, 4):
    for j in range(1, 4):
        print(i * j, end=' ')
    print()

1 2 3
2 4 6
3 6 9

In [7]:

##Question 4: Write a Python program that checks if a given number is divisible by both 5 and 7.
num=int(input('enter a number:'))

if(num %5 ==0 and num%7==0):
    print("Number is divisble by 5 and 7")
else:
    print("Number is not divisble by 5 and 7")

enter a number: 20

Number is not divisble by 5 and 7

In [8]:
#Question 5: Write a Python program that takes a number as input and:

# Prints "Positive" if the number is greater than 0.
# Prints "Negative" if the number is less than 0.
# Prints "Zero" if the number is 0.

num=int(input("Enter a number:"))

if(num>0):
    print("Positive")
elif(num<0):
    print("Negative")
else:
    print("Zero")

Enter a number: 23

Positive

In [9]:
##Question 6: What will be the output of the following code? Explain why.

x = 15
if x > 10 and x < 20:
    print("x is between 10 and 20")
elif x > 20:
    print("x is greater than 20")
else:
    print("x is 10 or less")
## ANS: x is between 10 and 20 as first condition is satisfied

x is between 10 and 20

In [10]:
#Question 7: Write a Python program to print all numbers between 1 and 100 that are:
#Divisible by 3 but not by 5.

for i in range(1,100):
    if(i%3==0 and i%5!=0):
        print(i, end =',')

3,6,9,12,18,21,24,27,33,36,39,42,48,51,54,57,63,66,69,72,78,81,84,87,93,96,99,

In [1]:
## Fibonacci Sequnce:

def fibonacci_iterative(n):
    fib_seq=[0,1]
    for i in range(2,n):
        fib_seq.append(fib_seq[-1] + fib_seq[-2])
    return fib_seq

n=int(input("enter the number:"))

print(fibonacci_iterative(n))

enter the number: 10

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [2]:
## Fibonacci Recursive

def fibonacci_recursive(n):
    if n<=1:
        return n
    return fibonacci_recursive(n-1) + fibonacci_recursive(n-2)

n=int(input("Enter the number"))
print(fibonacci_recursive(n))

Enter the number 10

55

In [1]:
#Tuples: It's an orderd collection, it is immutable

#packing creation
person=("Jhon",20,"Software Developer")

#unpacking assigning the values to each varibales
name, age, profession = person

print(name)
print(age)
print(profession)

Jhon
20
Software Developer

In [3]:
## Count frequebcy of elements in tuple

numbers=(1,1,1,2,3,4,2,3,5,5,5,4,3,4)
freq={}
for i in numbers:
    freq[i]=freq.get(i,0)+1
print(freq)

{1: 3, 2: 2, 3: 3, 4: 3, 5: 3}

In [4]:
numbers =[10,20,30,40]

## List built in functions
# length---> len()

print(len(numbers))

#max()
print(max(numbers))

#min()
print(min(numbers))

##sum()--> sum of all the elemnts in the lsists(for numeric values))
print(sum(numbers))


## sorted()
print(sorted(numbers, reverse=True))

4
40
10
100
[40, 30, 20, 10]

In [5]:
#list() converts iterable string, tuple into list

name ="Shanu"

print(list(name))

['S', 'h', 'a', 'n', 'u']

In [6]:
## tuple conversion

name=("shanu", "rajesh", "ram")

print(list(name))

['shanu', 'rajesh', 'ram']

In [7]:
### Set conversion

set_data={"shanu", "ravi", "abhi"}
print(list(set_data))

['abhi', 'shanu', 'ravi']

In [11]:
##dictionary keys list

dict_data={"a":1,"b":2,"c":3}
print(list((dict_data).keys()))


##dictionary values list

print(list((dict_data).values()))

###
print(list(dict_data.items()))

['a', 'b', 'c']
[1, 2, 3]
[('a', 1), ('b', 2), ('c', 3)]

In [12]:
## Range data
range_data=range(1,6)
print(list(range_data))

[1, 2, 3, 4, 5]

In [14]:
## Enumerate()

#The first value of each tuple is the index
#second value of each tuple is the element from the iterable

fruits=['apple', 'banana', 'cheerry']

for index,value in enumerate(fruits):
    print(f"Index: {index} Vlaue:{value}")

# we can specify the index start
for index, value in enumerate(fruits, start=1):
    print(f"Index: {index} Value: {value}")

Index: 0 Vlaue:apple
Index: 1 Vlaue:banana
Index: 2 Vlaue:cheerry
Index: 1 Value: apple
Index: 2 Value: banana
Index: 3 Value: cheerry

In [16]:
## Write a program to find even numebrs with there index

numbers=[10,15,20,25]
for i,j in enumerate(numbers):
    if j%2==0:
        print(f"even number is{j} at index{i}")

even number is10 at index0
even number is20 at index2

In [19]:
# filter out the name starting with "A"
## lambda takes multiple argumets but only one expression, it can be used within the code 
##where we dont have need of assiging the elemts within a varible
name=["Shanu", "Abhi", "Amar","Alice","Bob"]
filtered_names=list(filter(lambda x: x.startswith("A"), name))
print(filtered_names)

['Abhi', 'Amar', 'Alice']

In [23]:
## Write a function to remove duplicates:

# def remove_duplicates(lst):
#     dup_set=set(lst)
#     return list(dup_set)

# lst=[1,1,2,2,2,3,4,5,6]
# remove_duplicates(lst)


## To maintain order

def rem_dup(lst):
    unique=[]
    for i in lst:
        if i not in unique:
            unique.append(i)
    return unique

lst=[1,1,2,2,2,3,4,5,6]
rem_dup(lst)

[1, 2, 3, 4, 5, 6]

In [28]:
def count_vowels(txt):
    vowels =["a","e","i","o","u"]
    vowels_count=0
    # for i in txt:
    #     if i in vowels:
    #         vowels_count+=1
    
    vowels_count=sum(1 for i in txt if i in vowels)
    return vowels_count
text = "Shanu2.0 is awesome!"
count_vowels(text)

7

In [32]:
def square_numbers(num):
    return num**2

numbers=[1,2,3,4,5]
squ_number=map(square_numbers,numbers)
print(list(squ_number))

[1, 4, 9, 16, 25]

In [33]:
def ind_val(txt):
    for i,v in enumerate(txt):
        print(f"Index: {i} Value: {v}")
ind_val("Python")

Index: 0 Value: P
Index: 1 Value: y
Index: 2 Value: t
Index: 3 Value: h
Index: 4 Value: o
Index: 5 Value: n

In [37]:
## Factorial using recursion

def rec_fact(n):
    if n==1 or n==0:
        return 1
    return n*rec_fact(n-1)
rec_fact(5)

120

In [52]:
def fib_seq(n):
    if n==0:
        return 0
    if n==1:
        return 1
    return (fib_seq(n-1) + fib_seq(n-2))

fib_seq(7)

13

In [45]:
def pali(txt):
    cleaned_txt= "".join(char.lower() for char in txt if char.isalnum())
    return cleaned_txt == cleaned_txt[::-1]
print(pali("Madam, I'm Adam"))

True

In [49]:
num =[1,2,3,4,5]
target =6

for i in range(len(num)):
    for j in range(i+1,len(num)):
        if num[i]+num[j] == target:
            print(num[i],num[j])

1 5
2 4

In [54]:
tuples = [(1, 'c'), (2, 'a'), (3, 'b')]
print(sorted(tuples, key=lambda x:x[1]))

[(2, 'a'), (3, 'b'), (1, 'c')]

In [56]:
tuples=[(10,5,),(8,2),(7,8),(3,1)]

print(sorted(tuples, key=lambda x:x[1]))

[(3, 1), (8, 2), (10, 5), (7, 8)]

In [57]:
## Count unique element in a list

numbers=[1,2,3,2,3,4,4,5]

print(len(list(set(numbers))))

5

In [60]:
## Find the most frequent element:

numbers=[1,2,3,3,3,3,3,3,3,4,5,2,3,2,2,2,2]
dic={}
for i in numbers:
    if i in dic:
        dic[i]+=1
    else:
        dic[i]=1
print(max(dic,key=dic.get))
print(dic)

3
{1: 1, 2: 6, 3: 8, 4: 1, 5: 1}

In [61]:
number=[10,20,4,45,99]

print(sorted(number)[-2])

45

In [62]:
numbers=[1,2,2,3,4,4,5]
dic={}
for i in numbers:
    if i in dic:
        dic[i]+=1
    else:
        dic[i]=1

print(dic)

{1: 1, 2: 2, 3: 1, 4: 2, 5: 1}

In [65]:
## reverse words in sentence:

sentence= "Shanu 2.0 is unstoppable"
rev_sen= (sentence.split(" "))[::-1]
print(" ".join(rev_sen))

unstoppable is 2.0 Shanu

In [2]:
## sum of First n Numbers using recurssion:

# n=5
# expected output:15

def cal_sum(n):
    if n==0:
        return 0
    return n+cal_sum(n-1)
cal_sum(5)

15

In [8]:
# Reverse a String Using Recursion
# Write a recursive function to reverse a string.
# Input: "Shanu2.0"
# Expected Output: "0.2unahS"

def rev_string(txt):
    if len(txt)==0:
       return ""
    return txt[-1]+rev_string(txt[:-1])
rev_string("Shanu2.0")

'0.2unahS'

In [10]:
# Check If a Number is Prime Using Recursion
# Write a recursive function to check if a number is prime.
# Input: n = 7
# Expected Output: True

def is_prime(n):
    if n<=1:
        return False
    for i in range(2, int(n**0.5)+1):
        if n%i==0:
            return False
    return True
is_prime(6)

False

In [13]:
## Concatenation of String:

first ="Shanu"
last="2.0"
full = first+" "+ last
print(full)

Shanu 2.0

In [15]:
## Repetition of String

text="Python"
print(text*3)

## Indexing and slicing:

txt="Shanu is the best"

print(txt[1:7])
print(txt[::-1])

PythonPythonPython
hanu i
tseb eht si unahS

In [17]:
## text = "Shanu 2.0 is unstoppable"
## "unstoppable is 2.0 Shanu"

def rev_string(txt):
    lst_split_rev=(txt.split(" "))[::-1]
    return " ".join(lst_split_rev)
rev_string("Shanu 2.0 is unstoppable")

'unstoppable is 2.0 Shanu'

In [21]:
#text = "Shanu 2.0 is unstoppable"
# count the vowel

def count_vow(txt):
    vowels=['a','e','i','o','u']
    count_vowles=0

    for i in txt:
        if i in vowels:
            count_vowles+=1
    return count_vowles

count_vow("Shanu 2.0 is unstoppable")

7

In [27]:
## Check palindrome:

def is_pali(txt):
    new_text=""
    for i in txt:
        if i.isalnum():
            new_text=new_text+i.lower()
    if new_text==new_text[::-1]:
        return True
is_pali("Madam")

True

In [29]:
# ## Problem 1: Find the Largest and Smallest Elements
# Write a function to find the largest and smallest numbers in a list.

def largest_smallest(lst):
    lst.sort()
    print(f"Largest: {lst[-1]} Smallest: {lst[0]}")
largest_smallest([3, 5, 1, 2, 9, 7])

Largest: 9 Smallest 1

In [30]:
## Remove duplicates:

def redup(lst):
    return list(set(lst))

redup([1, 2, 2, 3, 4, 4, 5])

[1, 2, 3, 4, 5]

In [31]:
### Reverse the list

numbers = [1, 2, 3, 4, 5]
print(numbers[::-1])

[5, 4, 3, 2, 1]

In [33]:
## Repetion of element in tuple:

tup = (1, 2, 3, 2, 2, 4, 5)
element = 2

count=0
for i in tup:
    if element==i:
        count+=1
print(count)

3

In [34]:
tup = (10, 20, 30, 5, 15)
print(max(tup), min(tup))

30 5

In [35]:
#swap tuples:

tup1 = (1, 2, 3)
tup2 = (4, 5, 6)
tup1, tup2=tup2, tup1

print(tup1, tup2)

(4, 5, 6) (1, 2, 3)

In [36]:
numbers = [1, 2, 2, 3, 4, 4, 5]

dic={}
for i in numbers:
    if i in dic:
        dic[i]+=1
    else:
        dic[i]=1
print(dic)

{1: 1, 2: 2, 3: 1, 4: 2, 5: 1}

In [37]:
dict1 = {"a": 1, "b": 2}
dict2 = {"b": 3, "c": 4}

print(dict1 | dict2)

{'a': 1, 'b': 3, 'c': 4}

In [42]:
scores = {"Shanu": 80, "Ravi": 90, "Priya": 85}

print(max(scores, key=scores.get))

Ravi

In [52]:
books = [
    {"title": "Python Basics", "author": "John", "year": 2020},
    {"title": "DSA Fundamentals", "author": "Alice", "year": 2021},
]
nested_dic={}
for i in books:
    title=i['title']
    for k,v in i.items():
        details={k:v for k,v in i.items() if k!='title'}
        nested_dic[title]=details
print(nested_dic)

{'Python Basics': {'author': 'John', 'year': 2020}, 'DSA Fundamentals': {'author': 'Alice', 'year': 2021}}

In [56]:
employees = {
    "Shanu": {"department": "IT", "salary": 50000},
    "Ravi": {"department": "HR", "salary": 45000},
}

employees['Shanu']['salary']=int(employees['Shanu']['salary']+((employees['Shanu']['salary']*10)/100))

print(employees)

{'Shanu': {'department': 'IT', 'salary': 55000}, 'Ravi': {'department': 'HR', 'salary': 45000}}

In [58]:
## Count subjects:

students = {
    "Shanu": {"subjects": ["Math", "Physics"]},
    "Ravi": {"subjects": ["Biology", "Chemistry", "English"]},
}

count_sub=0
for i,v in students.items():
    count_sub+=len(v['subjects'])
print(count_sub)

5

In [63]:
students = {
    "Shanu": "A",
    "Ravi": "B",
    "Priya": "A",
    "Anil": "C",
}

new_dic={}
for k,v in students.items():
    if v in new_dic:
        new_dic[v].append(k)
    else:
        new_dic[v]=[k]
print(new_dic)

{'A': ['Shanu', 'Priya'], 'B': ['Ravi'], 'C': ['Anil']}

In [68]:
list1 = [1, 2, 3, 4, 5, 2]
list2 = [3, 4, 4, 5, 6, 2]
dic={}
count=1
for i in list1:
    if i in list2:
        dic[i]=1
print(dic)

{2: 1, 3: 1, 4: 1, 5: 1}

In [74]:
employees = {
    "Shanu": {"department": "IT", "salary": 50000},
    "Ravi": {"department": "HR", "salary": 45000},
}
temp=[]
for k,v in employees.items():
    lst=[k]
    for k,v in v.items():
        lst.append(v)
    temp.append(lst)
    lst=[]
print(temp)

[['Shanu', 'IT', 50000], ['Ravi', 'HR', 45000]]

In [77]:
inventory = {
    "apples": 10,
    "oranges": 20,
}
ele=input("Enter a for apple and o for oranges:")
val=int(input("Enter 1 to add and 2 to delete:"))
num=int(input("Enter number to add or delete:"))

if ele=='a':
    if val==1:
        inventory['apples']=inventory['apples']+num
    else:
        if num<inventory['apples']:
            inventory['apples']=inventory['apples']-num
else:
    if val==1:
        inventory['oranges']=inventory['oranges']+num
    else:
        if num<inventory['oranges']:
            inventory['oranges']=inventory['oranges']-num

print(inventory)

Enter a for apple and o for oranges: a
Enter 1 to add and 2 to delete: 1
Enter number to add or delete: 5

{'apples': 15, 'oranges': 20}